<div class="dashboard-container">
  <div class="welcome-section">
    <h1>{{ 'HOME.WELCOME' | translate }}, {{ supplierName }}</h1>
    <p>{{ 'HOME.WELCOME_DESCRIPTION' | translate }}</p>
  </div>

  <div class="stats-container">
    <div class="stat-card">
      <h2>{{ 'HOME.LOTS_TO_SEND' | translate }}</h2>
      <p class="stat-number">{{ lotSummary.pending }} {{ 'HOME.LOTS' | translate }}</p>
      <small class="stat-description">{{ 'HOME.PENDING_PLUS_TO_SEND' | translate }}</small>
      <button class="btn-details" (click)="viewDetails('pendientes')">{{ 'HOME.VIEW_DETAILS' | translate }}</button>
    </div>

    <div class="stat-card">
      <h2>{{ 'HOME.LOTS_SENT' | translate }}</h2>
      <p class="stat-number">{{ lotSummary.sent }} {{ 'HOME.LOTS' | translate }}</p>
      <button class="btn-details" (click)="viewDetails('enviados')">{{ 'HOME.VIEW_DETAILS' | translate }}</button>
    </div>

    <div class="stat-card">
      <h2>{{ 'HOME.LOTS_CONFIRMED' | translate }}</h2>
      <p class="stat-number">{{ lotSummary.confirmed }} {{ 'HOME.LOTS' | translate }}</p>
      <small class="stat-description">{{ 'HOME.ACCEPTED_PLUS_COMPLETED' | translate }}</small>
      <button class="btn-details" (click)="viewDetails('confirmados')">{{ 'HOME.VIEW_DETAILS' | translate }}</button>
    </div>
  </div>

  <!-- Botón para volver a mostrar las notificaciones -->
  <button
    *ngIf="!showNotifications"
    class="btn-show-notifications"
    (click)="openNotifications()"
  >
    {{ 'HOME.SHOW_NOTIFICATIONS' | translate }}
  </button>

  <!-- Sección de notificaciones -->
  <div
    class="notifications-container"
    *ngIf="showNotifications"
  >
    <div class="notifications-header">
      <div class="notifications-title">
        <span class="notification-icon">ⓘ</span>
        <h3>{{ 'HOME.RECENT_NOTIFICATIONS' | translate }}</h3>
      </div>
      <button class="close-btn" (click)="closeNotifications()">✕</button>
    </div>

    <ul class="notifications-list">
      <li *ngFor="let notification of notificationsGrouped">
        <div class="notification-item">
          <strong>{{ 'HOME.LOT' | translate }} {{ notification.code }}:</strong>
          <ul>
            <li *ngFor="let message of notification.messages">{{ message }}</li>
          </ul>
        </div>
      </li>
    </ul>

    <button class="btn-more-details" (click)="viewMoreNotifications()">
      {{ 'HOME.VIEW_MORE_DETAILS' | translate }}
    </button>
  </div>
</div>
