<div class="dashboard-container">
  <div class="welcome-section">
    <h1>{{ 'BUSINESSMANDASHBOARD.WELCOME' | translate }}, {{ businessmanName }}</h1>
    <p>{{ 'BUSINESSMANDASHBOARD.DASHBOARD_DESCRIPTION' | translate }}</p>
  </div>

  <div class="stats-container">
    <div class="stat-card">
      <h2>{{ 'BUSINESSMANDASHBOARD.RECEIVED_TODAY' | translate }}</h2>
      <p class="stat-number">{{ lotSummary.receivedToday }} {{ 'BUSINESSMANDASHBOARD.BATCHES' | translate }}</p>
      <button class="btn-details" (click)="viewDetails('recibidos')">{{ 'BUSINESSMANDASHBOARD.VIEW_DETAILS' | translate }}</button>
    </div>

    <div class="stat-card">
      <h2>{{ 'BUSINESSMANDASHBOARD.PENDING_REVIEW' | translate }}</h2>
      <p class="stat-number">{{ lotSummary.pending }} {{ 'BUSINESSMANDASHBOARD.BATCHES' | translate }}</p>
      <button class="btn-details" (click)="viewDetails('pendientes')">{{ 'BUSINESSMANDASHBOARD.VIEW_DETAILS' | translate }}</button>
    </div>

    <div class="stat-card">
      <h2>{{ 'BUSINESSMANDASHBOARD.APPROVED_BATCHES' | translate }}</h2>
      <p class="stat-number">{{ lotSummary.approved }} {{ 'BUSINESSMANDASHBOARD.BATCHES' | translate }}</p>
      <button class="btn-details" (click)="viewDetails('aprobados')">{{ 'BUSINESSMANDASHBOARD.VIEW_DETAILS' | translate }}</button>
    </div>

    <div class="stat-card">
      <h2>{{ 'BUSINESSMANDASHBOARD.REJECTED_BATCHES' | translate }}</h2>
      <p class="stat-number">{{ lotSummary.rejected }} {{ 'BUSINESSMANDASHBOARD.BATCHES' | translate }}</p>
      <button class="btn-details" (click)="viewDetails('rechazados')">{{ 'BUSINESSMANDASHBOARD.VIEW_DETAILS' | translate }}</button>
    </div>
  </div>

  <!-- Botón para volver a mostrar las notificaciones -->
  <button
    *ngIf="!showNotifications"
    class="btn-show-notifications"
    (click)="openNotifications()"
  >
    {{ 'BUSINESSMANDASHBOARD.SHOW_NOTIFICATIONS' | translate }}
  </button>

  <!-- Sección de notificaciones -->
  <div
    class="notifications-container"
    *ngIf="showNotifications"
  >
    <div class="notifications-header">
      <div class="notifications-title">
        <span class="notification-icon">ⓘ</span>
        <h3>{{ 'BUSINESSMANDASHBOARD.RECENT_NOTIFICATIONS' | translate }}</h3>
      </div>
      <button class="close-btn" (click)="closeNotifications()">✕</button>
    </div>

    <ul class="notifications-list">
      <li *ngFor="let notification of notificationsGrouped">
        <div class="notification-item">
          <strong>{{ 'BUSINESSMANDASHBOARD.BATCH_CODE' | translate }} {{ notification.code }}:</strong>
          <ul>
            <li *ngFor="let message of notification.messages">{{ message }}</li>
          </ul>
        </div>
      </li>
    </ul>

    <button class="btn-more-details" (click)="viewMoreNotifications()">
      {{ 'BUSINESSMANDASHBOARD.VIEW_ALL_NOTIFICATIONS' | translate }}
    </button>
  </div>
</div>
